<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tournament Bracket</title>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
    <style>
        /*
         *  Flex Layout Specifics
         */
        main {
            display: flex;
            flex-direction: row;
            gap: 24px;
            align-items: flex-start;
            flex-wrap: wrap;
        }

        .bracket-section {
            display: flex;
            flex-direction: column;
        }

        .section-title {
            font-size: 1rem;
            margin: 0 0 8px;
            text-transform: capitalize;
        }

        .round {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 200px;
            list-style: none;
            padding: 0;
        }

        .round .spacer {
            flex-grow: 1;
        }

        .round .spacer:first-child,
        .round .spacer:last-child {
            flex-grow: .5;
        }

        .round .game-spacer {
            flex-grow: 1;
        }

        /*
         *  General Styles
         */
        body {
            font-family: sans-serif;
            font-size: small;
            padding: 10px;
            line-height: 1.4em;
        }

        li.game {
            padding-left: 20px;
        }

        li.game.winner {
            font-weight: bold;
        }

        li.game span {
            float: right;
            margin-right: 5px;
        }

        li.game-top {
            border-bottom: 1px solid #aaa;
        }

        li.game-spacer {
            border-right: 1px solid #aaa;
            min-height: 40px;
        }

        li.game-bottom {
            border-top: 1px solid #aaa;
        }
    </style>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="content">
                <h1 class="title">
                    <%=tournament.name%> - <%=tournament.type%>
                </h1>
                <main id="tournament">
                <% const bracketSections = tournament.type === 'double_elimination'
                  ? [
                    ['winners', rounds.winners || {}],
                    ['losers', rounds.losers || {}],
                    ['finals', rounds.finals || {}],
                  ]
                  : [['bracket', rounds]];
                %>
                <% bracketSections.forEach(function(section) { %>
                    <% const sectionName = section[0]; %>
                    <% const sectionRounds = section[1]; %>
                    <% if (Object.keys(sectionRounds).length === 0) { return; } %>
                    <section class="bracket-section">
                        <% if (tournament.type === 'double_elimination') { %>
                            <h2 class="section-title"><%= sectionName %> bracket</h2>
                        <% } %>
                        <div style="display:flex; flex-direction:row;">
                        <% Object.keys(sectionRounds).forEach(function(i) { %>
                            <ul class="round round-<%= i %>">
                                <li class="spacer">&nbsp;</li>
                                <% for (var j=0; j < sectionRounds[i].length; j++) { %>
                                    <li
                                        class="game game-top<% if (sectionRounds[i][j].winner && sectionRounds[i][j].player1 && sectionRounds[i][j].winner.id === sectionRounds[i][j].player1.id) { %> winner<% } %>">
                                        <%= sectionRounds[i][j].player1 ? sectionRounds[i][j].player1.name : 'TBD' %>
                                    </li>
                                    <li class="game game-spacer">&nbsp;</li>
                                    <li
                                        class="game game-bottom<% if (sectionRounds[i][j].winner && sectionRounds[i][j].player2 && sectionRounds[i][j].winner.id === sectionRounds[i][j].player2.id) { %> winner<% } %>">
                                        <%= sectionRounds[i][j].player2 ? sectionRounds[i][j].player2.name : 'BYE' %>
                                    </li>

                                    <li class="spacer">&nbsp;</li>

                                <% } %>
                            </ul>
                        <% }) %>
                        </div>
                    </section>
                <% }) %>
                </main>
            </div>
        </div>
    </section>
</body>

</html>
